<!-- <p>home works!</p> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Loan Easy</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div>

  <article>
    <h4> Geolocation</h4>
    <span>
      Latitude : {{latitude}}
    </span>
    <span>
    Longitude : {{longitude}}      
    </span>
  </article>
  <article>
    <h4> Ip</h4>
    <span>
      IpAddress : {{ipAddress}}
    </span>
  </article>

</div>
<div class="container">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit(formGroup.value)"
    class="form"
  >
    <mat-card-title>
      <span>Loan Calculator </span>
    </mat-card-title>
    <mat-form-field floatLabel="never" class="form-element">
      <input
        type="number"
        matInput
        placeholder="loan amount"
        formControlName="lam"
      />
      <mat-error *ngIf="formGroup.controls['lam'].invalid">
        {{ getError("lam") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="never" class="form-element">
      <input
        type="number"
        matInput
        placeholder="Loan Tenure in years"
        formControlName="lterm"
      />
      <mat-error *ngIf="!formGroup.controls['lterm'].valid">
        {{ getError("lterm") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="never" class="form-element">
      <input
        type="number"
        matInput
        placeholder="Interest in %"
        formControlName="inter"
      />
      <mat-error *ngIf="!formGroup.controls['inter'].valid">
        {{ getError("inter") }}
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="button"
        [disabled]="!formGroup.valid"
      >
        Calculate
      </button>
    </div>
  </form>

  <h2> Your Monthly EMI is : {{ lmonthly }}</h2>

</div>
<div *ngIf="showData" class="container">

  <table >
    <tr class="row">
      <td class="col-6">
        <mat-label>Loan Amount</mat-label>
        <input matInput readonly [value]="lamount">  
       
      </td>
      <td class="col-6">
        <mat-label>Interest Rate in %</mat-label>
        <input matInput readonly [value]="lrate">
        
     </td>
      
     
  </tr></table>
  <table >
    <tr class="row">
      <td class="col-6">
        <mat-label>Total Interest Due</mat-label>
        <input matInput readonly [value]="ldue">  
       
    </td>
      <td class="col-6">
        <mat-label>Total Amount Payable</mat-label>
        <input matInput readonly [value]="lpay">
        
     </td>
      
     
  </tr></table>

</div>
