.example-spacer {
  flex: 1 1 auto;
}
.example-card {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
 
}

.form {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button {
  width: 100%;
}
