<!-- <p>home works!</p> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>FeatureFirst</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Contact</button>
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button> -->
    <!-- <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu> -->
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit(formGroup.value)"
    class="form"
  >
    <mat-card-title>
      <span>Login with Google </span>
      <span class="fa fa-google"></span>
    </mat-card-title>
    <mat-form-field floatLabel="never" class="form-element">
      <input
        type="email"
        matInput
        placeholder="Email Id"
        formControlName="email"
      />
      <mat-error *ngIf="formGroup.controls['email'].invalid">
        {{ getError("email") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="never" class="form-element">
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
      <mat-error *ngIf="!formGroup.controls['password'].valid">
        {{ getError("pass") }}
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="button"
        [disabled]="!formGroup.valid"
      >
        LogIn
      </button>
    </div>
  </form>
</div>
